<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="./internal_logs/internallog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="server" value="OPTIMUS MOBILE API" />

  <targets>

    <!--Log file as json | Uses some ASP.NET core renderers-->
    <target xsi:type="File"
        name="jsonFile"
        fileName="${basedir}/logs/${shortdate}_logfile.json"
        archiveFileName='${basedir}/logs/archive/archive.{#}.json'
        archiveEvery='Day'
        archiveNumbering='Rolling'
        maxArchiveFiles='7'
        concurrentWrites='true'
        keepFileOpen='false'>
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name='event' layout='${event-properties:item=EventId_Id:whenEmpty=0}' />
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name='host' layout='${server}' />
        <attribute name='logger' layout='${logger}' />
        <attribute name="message" layout="${message}" />
        <attribute name='exception' layout='${exception:format=tostring}' />
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="jsonFile" />
  </rules>
</nlog>